.footer {
    text-align: center;
    background-color: #143774;
    color: white;
    padding: 30px;
    margin-top: 15px;
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: 'Lora', serif;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    height: 80%;
    width: 80%;
    text-align: left;
}

.row {
    display: table;
    table-layout: fixed;
    padding-top: 10px;
    padding-bottom: 20px;
}
.column {
    display: table-cell;
    width: 50%;
}
#parent_non_content{
    display: flex!important;
}
#title_search{
    flex: 1 !important;
}

.home-articles {
    display: block;
    padding-left: 50px;
    padding-top: 15px;
    background: #e1ded8;
    /* background: #f8f3f3; */
    border-bottom: 2px;
    border-bottom-style: solid;
}

/* .home-article{
    margin: auto;
    width: 50%;
} */

.home-article img {
    width: 300px;
    padding-right: 1em;
    object-fit: cover;
    float:none;
}

.home-article-content{
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}


#year_option {
    width: fit-content;
}

/* ! Media queries */
/* for above 1000px screen */
@media screen and (min-width:1000px) {
    header .container {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    h1 {
        font-size: 2.5rem;
    }

    h6 {
        font-size: .8rem;
    }

    .cont-1 {
        display: flex;
        justify-content: space-around;
        width: 100%;

    }

    .container {
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: space-between;
    }


    .search-bar input {
        width: 35vw;
    }

    .search-bar {
        top: 20px;
    }

    .iBlog {
        width: 140px;
    }
}

/* below 850px screens */
@media (max-width:850px) {
    .feed .info {
        font-size: .58rem;
    }
}

@media (max-width:755px) {
    .feed .info {
        font-size: .5rem;
    }
}

@media (max-width:693px) {
    .feed .info {
        font-size: .5rem;
    }

    .main-container {
        flex-direction: column;
    }

    main {
        width: 92%;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 2.4rem;
    }

    .feed img {
        float:none;
    }

    h6 {
        font-size: .6rem;
    }

    .small-part {
        width: 90px;
    }

    .feed p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:375px) {

    html {
        font-size: 15px;
    }

    nav ul {
        display: Flex;
        flex-direction: column;
    }

    nav li {
        padding: 0.5em;
    }

    nav a {
        padding-bottom: 0.2em;
    }

    h1 {
        font-size: 2rem;
    }

    h6 {
        font-size: .5rem;
    }
}