* {
    margin: 0;
}

body {
    background-color: #082032;
    color: #9a9ea1;
}


.navigation {
    display: flex;
    font-size: 31px;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #263859;
    justify-content: space-around;
    font-family: var(--font2);
}

.navigation span {
    font-size: 35px;
    padding-top: 10px;

}

.form-input{
    background-color: #5da4b4;
    color:rgb(220, 220, 220);
}

.navigation ul {
    align-items: center;
    font-size: 22px;
    /* font-family: var(--font1); */
}

.navigation ul li {
    display: inline-block;
    list-style: none;
    width: auto;
    height: auto;
    font-family: var(--font2);
    margin: 0 40px;
}

.navigation form {
    height: 100%;
    margin-left: -10%;
}

.navigation form input {
    position: relative;
    top: 0%;
}

.navigation form button {
    position: relative;
    top:40%;
    right:51%;
}
.navigation ul li a {
    display: inline-block;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #9a9ea1;
}

.navigation ul li a:hover {
    color: var(--main-bg-color);
}

.content {
    display: flex;
    height: 100%;
    /* background-color: #c3f4f4; */
    margin-top: 32px;
    padding: 9px;
    position: relative;

}

.content::after {
    content: "";
    background-image: url('../img/backgroundmain.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.4;
}

.content-left {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    z-index: 1;
}

.content-right {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    padding: 18px;
    background-color: #115173;

    margin-top: 23px;
   position: relative;
}

.year-box {
    position: absolute;
    width: 165px;
    height: 145px;
    /* background-color: red; */
    right: 0px;
    top: 25px;
    font-size: 21px;

}

.year-box div {
    margin: 12px 0px;

}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 300px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    align-self: flex-end;
    background-color: #053F5E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    flex-direction: column;
    margin-top: 25%;
}

.footer a {
    color: black;
}