/* body{
    padding:10% 3% 10% 3%;
    } */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 3.252%;
    width: 3.252%;
    padding: 0.65%;
    margin-left: 3%;
    margin-top: 1%;
}

h1,
h2 {
    color: #32a852;
}

.blog-heading {
    margin: 10% auto;
    width: 50%;
}

.social {
    width: 29;
    height: 29;
}

.blog-para {
    margin-top: 5%;
    font-size: large;
}

/* .footer{
        margin: auto;
        width: 50%;
    } */

.mode {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;

    padding: 5px;
    margin-left: 8px;
}

.dark {
    background-color: #222;
    color: #e6e6e6;
}

.home-article-img {
    width: 20%;
    height: 40%;
}

.more-post {
    margin-top: 0;
}

.home-article-content {
    font-weight: bold;
}