@media screen and (max-width:400px){
    *{
    margin: 0;
}

body{
    margin: 0;
    background-color: #082032;;
}

nav{
    margin: 0;
    width: 100%;
    height: 60px;
    position: fixed;
}

.container{
    display:flex;
    align-items: stretch;
    width: 100%;
    height: inherit;
    background-color: #263859;
}

.dropdown-button{
    display: flex;
    flex-direction: column;;
    width: 13%;
    height: 100%;
    align-self: center;
    justify-content: space-around;
    margin-left: auto;
}
.dropdown-button div{
    display: inline-block;
    height:3px;
    width: 90%;
    background-color: rgb(46, 46, 46);
    border-radius: 10px;

}

.dropdown-content{
    overflow: hidden;
    transition: height 0.1s ease-out;
    margin: 0;
}

.dropdown-content.hide{
    position: relative;
    height:0;
    width: 0;
} 

.dropdown-content.show{
    height:var(--openHeight);
    position: absolute;;
    width: 100%;
    top:60px;
}

.dropdown-content ul{
    list-style-type: none;
    padding: 0%;
}
a{
    text-decoration: none;
    color:rgb(189, 189, 189);
}
.dropdown-content ul{
    display:flex;
    flex-direction: column;
}

.dropdown-content ul li{
    display: inline-block;
    background-color: rgb(48, 48, 48);
    text-align: center;
    width: 100%;
    padding: 10px;
}
.dropdown-content form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}
.dropdown-content form button{
    display: inline-block;
    position: relative;
    width: 40vw;
    right: 0;
}
.dropdown-content form input{
    display: inline-block;
    width: 90vw;
    margin-left: 20vw;
}

.home-articles{
    margin-top: 65px;
}
}